* {
  border: none;
  font-family: Hack Nerd Font, sans-serif;
  font-size: 16px;
}

window#waybar {
  /* background-color: rgba(18, 21, 29, 0.98); */
  background-color: #313244;
  /* background-color: rgba(0, 0, 0, 0); */
  border-bottom: 1px solid #181825;
  border-radius: 50px;
  color: #CBA6F7;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces,
#cpu,
#memory,
#pulseaudio,
#clock,
#backlight,
#battery,
#network,
#tray {
  background-color: #45475A;
  padding: 0 10px;
  color: #CDD6F4;
  border-color: #11111B;
  margin: 2px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #A6E3A1;
}

#workspaces button:hover {
  background-color: #7F849C;
}

#workspaces button.active {
  color: #F38BA8;
}

#workspaces button.urgent {
  color: #F80000;
}

#cpu {
  color: #74C7EC;
}

#memory {
  color: #EBA0AC;
}

#pulseaudio {
    color: #89DCEB;
}

#clock {
  color: #EBA0AC;
}

#backlight {
  color: #F9E2AF;
}

#battery {
  color: #A6E3A1;
}

#battery.charging, #battery.plugged {
  background-color: #98c379;
  color: #1e222a;
}

@keyframes blink {
    to {
        background-color: #1e222a;
        color: #e06c75;
    }
}

#battery.critical:not(.charging) {
    background-color: #F38BA8;
    color: #1e222a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #A6E3A1
}

#network.disconnected {
    background-color: #F38BA8;
    color: #1e222a;
}
