/* Firefox Hacks */
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/pinned_tabs_on_right.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show pinned tabs on right side of normal tabs */
/* This is stupid hack that barely works and might lead to some very unexpected behavior */

.scrollbutton-up[orient="horizontal"]~spacer{ display: none }

.scrollbutton-up[orient="horizontal"]~scrollbox{
  -moz-box-direction: inherit; /* Fx < 112 compatibility */
  -moz-box-pack: end; /* Fx < 112 compatibility */
  justify-content: flex-end;
}

.scrollbutton-up[orient="horizontal"]~scrollbox::after{
  display: -moz-box; /* Fx < 112 compatibility */
  content: "";
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  order: 2;
  -moz-box-flex: 1; /* Fx < 112 compatibility */
  -moz-box-ordinal-group: 2; /* Fx < 112 compatibility */
}

#tabs-newtab-button{
  -moz-box-ordinal-group: 2; /* Fx < 112 compatibility */
  order: 2;
}
.tabbrowser-tab[pinned]{
  -moz-box-ordinal-group: 3; /* Fx < 112 compatibility */
  order: 3;
}

#tabbrowser-tabs[positionpinnedtabs]{ direction: rtl }
#tabbrowser-tabs[positionpinnedtabs] > arrowscrollbox { 
  -moz-box-direction: reverse; /* Fx < 112 compatibility */
  flex-direction: row-reverse;
}
.tab-content{ direction: ltr }

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/linux_gtk_window_control_patch.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Overrides the appearance of the window controls with something that more closely matches "normal" buttons*/
/* More importantly, this makes window controls to respect layout rules the other styles rely on */

.titlebar-buttonbox{
  -moz-box-align: stretch !important; /* Fx <112 compatibility */
  align-items: stretch !important;
}
.titlebar-button {
  -moz-appearance: none !important;
  -moz-context-properties: fill, stroke, fill-opacity;
  fill: currentColor;
  padding: 4px 6px !important;
  -moz-box-flex: 1;
  flex-grow: 1;
  overflow: -moz-hidden-unscrollable;
}
.titlebar-button:hover{ background-color: rgba(0,0,0,0.1) }
.titlebar-min{ list-style-image: url(chrome://browser/skin/zoom-out.svg); }
.titlebar-close{
  list-style-image: url(chrome://global/skin/icons/close.svg);
  fill-opacity: 0;
  stroke: currentColor
}

/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tabs_below_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */


/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it.
Additionally on Linux, you may need to get:
linux_gtk_window_control_patch.css
*/

.titlebar-buttonbox-container{
  position: fixed;
  display: none;
  top:0;
  right:0;
  height: 40px;
  z-index: 3;
  visibility: visible !important;
}

@media (-moz-gtk-csd-reversed-placement),
       (-moz-platform: macos){
  .titlebar-buttonbox-container{ left:0; right: unset !important; }
}
@supports -moz-bool-pref("userchrome.force-window-controls-on-left.enabled"){
  .titlebar-buttonbox-container{ left:0; right: unset !important; }
}

:root[inFullscreen] #navigator-toolbox:not(:hover) .titlebar-buttonbox-container{ display: none !important; }

:root[uidensity="compact"] .titlebar-buttonbox-container{ height: 32px }
.titlebar-buttonbox-container > .titlebar-buttonbox{ height: 100%; }
*/
/* Re-adjust window cotrols if menubar is permanently enabled */
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"]{ transform: translateX(0px); }
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"] .titlebar-buttonbox-container{ height: 100%; }
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"] .titlebar-button{ padding: 2px 17px !important; }

@media  (-moz-platform: windows){
  #titlebar{ -moz-appearance: none !important; }
}

/* Move tabs below content
#main-window > body::after{
  content: "";
  display: flex;
}
#main-window:not([inFullscreen]) > body::after{
  margin-bottom: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px));
}
#main-window[inFullscreen]:not([inDOMFullscreen]) > body::after{
  margin-bottom: 1px;
}
*/
#TabsToolbar{
  position: fixed;
  display: block;
  bottom: 0;
  width: 100vw;
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px));
  --tabs-navbar-shadow-size: 0px;
}
#TabsToolbar:hover{ z-index: 1 }

#TabsToolbar{ background-color: var(--lwt-accent-color); }
#TabsToolbar-customization-target{ width: 100vw; }

.tab-background{ border-top-style: none !important; }

/* Hide stuff that doesn't make sense with tabs below content */
#TabsToolbar > .titlebar-buttonbox-container,
#window-controls, /* Fullscreen window controls */
#TabsToolbar .titlebar-spacer{
  display: none !important;
}
#navigator-toolbox[inFullscreen]:hover #toolbar-menubar > .titlebar-buttonbox-container{ display: flex !important; }

/*** Hide Tab Close buttons ***/
.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/round_ui_items.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Make bunch of things in the main UI round */

:root{ --toolbarbutton-border-radius: 24px !important }
#urlbar-input-container > box:hover,
#urlbar-input-container > box[open],
#main-menubar >  menu,
.titlebar-button:hover,
#scrollbutton-up,
#scrollbutton-down,
.tab-close-button,
.close-icon > image,
#page-action-buttons > :hover,
.panel-arrowcontent,
.urlbarView-row-inner,
.search-one-offs button,
.subviewbutton-back,
.toolbaritem-combined-buttons > toolbarbutton,
#PopupSearchAutoComplete,
menupopup{ border-radius: 18px }

button,
.tab-background{ border-radius: 30px !important; }

.panel-arrowcontent{ margin-inline-end: 0 !important; }
.panel-arrow{ margin-inline: 17px !important; }

menupopup{ -moz-appearance: none !important; overflow: -moz-hidden-unscrollable !important; }

.tabbrowser-tab[selected]::after,
.tabbrowser-tab[beforeselected-visible]::after{ border-color: transparent !important; }

#nav-bar{ box-shadow: none !important; margin-top: 3px }
.tab-line{ display: none }

.tab-background[selected]{
  border-top-width: 2px !important;
  border-top-color: var(--lwt-tab-line-color) !important;
}
.tabbrowser-tab[selected]{ z-index: auto !important; }

.urlbar-icon,
toolbar toolbarbutton:not(#back-button):not(.bookmark-item):not(.titlebar-button) > .toolbarbutton-icon{  border-radius: 0px !important; clip-path: circle() }

menugroup:hover > menuitem{ clip-path: circle() }

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navigation_buttons_inside_urlbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Requires you to edit toolbar layout. Put buttons directly to the right of the urlbar in this order: <urlbar><reload-button><back-button><forward-button>*/
/* Actually, the order of reload and back-buttons doesn't matter */

#back-button, #forward-button { display:none!important; }

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/compact_proton.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Small changes to make proton roughly as compact as the old compact mode */

:root{
  --toolbarbutton-inner-padding: 6px !important;
  --tab-block-margin: 2px !important;
  --tabs-shadow-size: 0px !important;
  --arrowpanel-menuitem-padding-block: 5px !important;
  --panel-font-size: inherit !important;
  --arrowpanel-padding: 0.8em !important;
  --inline-tab-padding: 8px !important; /* 8px is default value since it looks good - lower values compactify tabs horizontally */
}
.subviewbutton.bookmark-item{ padding-block: 4px !important; }
.subview-subheader{ display: block }
menupopup > menuitem,
menupopup > menu{ padding-block: 0.3em !important; }

/* This is kinda weird, but it makes the horizontal line between tabs and nav-bar render "inside" nav-bar thus tabs are more visibily separated even if there is less space there */
#nav-bar{ 
  box-shadow: inset 0 var(--tabs-shadow-size) 0 var(--lwt-tabs-border-color) !important;
}

.tab-close-button{
  margin-inline-start: 0px !important;
  width: 20px !important;
  height: 20px !important;
  padding: 5px !important;
}

#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 2px }
#scrollbutton-up,
#scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border,0px) !important; }

/* OPTIONAL - show audio label in compact mode and make the audio icon behavior match non-compact mode */
/*
.tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]){ display: flex !important; margin-bottom: 1px }
#TabsToolbar:not(:hover) .tab-icon-image{ opacity: 1 !important; }
#TabsToolbar:not(:hover) .tab-icon-overlay:not([pinned]){ opacity: 0 !important; }
*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/classic_firefox_menu_button.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes the main menu button appear in the top left corner styled similarly to Firefox versions 4 to 29 */

#PanelUI-button{
   /* Nightly colors scheme */
  /*--uc-fx-button-color: #9752fa;
  --uc-fx-button-sec-color: #00b2fa8a;*/
   
  /* Release color scheme*/
  --uc-fx-button-color: #ff8313;
  --uc-fx-button-sec-color: #ffdfbf85;
}

#PanelUI-button{
  -moz-box-ordinal-group: 0; /* Fx <112 compatibility */
  order: -1;
  margin-inline: 2px var(--uc-window-drag-space-pre,24px) !important;
}
:root[tabsintitlebar] #nav-bar{
  border-left-width: 0px;
  padding-left: 0px !important;
}
#PanelUI-menu-button{
  -moz-box-align: start !important; /* Fx <112 compatibility */
  align-items: start;
}
#PanelUI-menu-button > stack{
  background-color: var(--uc-fx-button-color);
  background-image: linear-gradient(var(--uc-fx-button-sec-color), transparent) !important;
  list-style-image: url(chrome://global/skin/icons/arrow-down-12.svg) !important;
  border-radius: 0 0 4px 4px !important;
  border: 1px groove black;
  outline: 1px solid #cdd8e4;
  border-top: none;
  display: flex;
  padding: 4px 10px !important;
}

#PanelUI-menu-button:hover > stack,
#PanelUI-menu-button[open] > stack{
  background-color: var(--uc-fx-button-color) !important;
  background-image: linear-gradient(rgba(100,100,150,0.3), transparent) !important;
}

#PanelUI-menu-button > stack::before{
  display: flex;
  content: "Firefox"; /* Change text here */
  color: white;
  text-shadow: 0 0 2px black;
  font-weight: 700;
  margin-inline-end: 4px;
}

/* OPTIONAL - move the menu button to top-left corner of the window.
 * Don't use this if you also use tabs_on_bottom.css
 */

/*
#PanelUI-button{
  position: fixed;
  display: flex;
  top: 0;
}

#toolbar-menubar,
#toolbar-menubar[autohide="true"] + #TabsToolbar{
  padding-left: 94px !important;
}

*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/compact_extensions_panel.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This style hides some information from the extensions-button panel, but makes it appear more compact. Might be useful for someone having lot of extensions */

#unified-extensions-view{
  --uei-icon-size: 16px;
}
.unified-extensions-item-menu-button.subviewbutton{
  padding: 2px !important;
}
.unified-extensions-item-message-deck{
  display: none
}
#unified-extensions-view > vbox > vbox > .unified-extensions-item{
  padding-block: 0px !important;
}
.unified-extensions-item-menu-button{
  margin-inline-end: 0 !important;
}
.unified-extensions-list .unified-extensions-item-menu-button{
  margin-inline-end: 8px !important;  
}
