@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

html {
  color: #d5d5d5;
  font: 18px "Fira Code", monospace;
  height: 100%;
}

body {
  background-color: #181e23;
  padding: 5%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
    -webkit-animation: glow 1s infinite;
    -moz-animation: glow 1s infinite;
    animation: glow 1s infinite;
}

@-webkit-keyframes glow {
    from {
	text-shadow: 0 0 10px #d5d5d5;
    }
    to {
	text-shadow: 0 0 10px #d5d5d5;
    }
}

input {
  background-color: #181e23;
  font: 16px "Fira Code", monospace;
  color: #d5d5d5;
  height: 100%;
  width: 99%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-color: #384149;
  text-align: center;
}

input:focus {
  outline: none;
}

ul, form, p {
  list-style-type: none;
  padding: 0;
  box-shadow: 0px 0px 5px #000000;
  border-radius: 15px;
  width: 50%;
  padding: 15px;
}
